
.common{
    font-family:"Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
}

.head{
    font-size: px;
}

.main{
    font-size: 25px;
    font-weight: bold;
}

.dates{
    font-weight: 315;
    font-size: 25px;
}
ul{
    list-style-type: circle;
    padding: 5;
    font-weight: 300;

}

